/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "kawvin_12.dtsi"

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        // 同时按 0 + 1 → ESC

        esc_01 {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <200>;
        };

        // 同时按 1 + 2 → ESC

        esc_02 {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            timeout-ms = <200>;
        };

        // 在2、5层同时按 2 + 10 → bootloader
        flash {
            bindings = <&bootloader>;
            key-positions = <2 10>;
            timeout-ms = <200>;
            layers = <2 5>;
        };
    };

    macros {
        potplay_c5: potplay_c5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp C &kp C &kp C &kp C>;
            label = "POTPLAY_C5";
        };

        potplay_x5: potplay_x5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp X &kp X &kp X &kp X>;
            label = "POTPLAY_X5";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            //  ---------------------------------------------------------------------------------
            //  |HOME|UP         |PG_UP|ENTER|
            //  |LEFT|DOWN       |RIGHT|
            //  |END |ENTER      |PG_DN|
            //  |TAB |&ltq 2 BSPC|&to 1|

            bindings = <
                &kp HOME  &kp UP       &kp PG_UP  &kp ENTER
                &kp LEFT  &kp DOWN     &kp RIGHT  
                &kp END   &kp ENTER    &kp PG_DN  
                &kp TAB   &ltq 2 BSPC  &to 1      
            >;

            label = "Qwerty";
            //sensor-bindings = <&pointer_vel_sensor y -120 y 120>;
            sensor-bindings = <&inc_dec_kp SCRL_DOWN SCRL_DOWN>;
        };

        number_layer {
            //  ---------------------------------------------------------------------------------
            //  |N1|N2 |N3   |ENTER|
            //  |N4|N5 |N6   |
            //  |N7|N8 |N9   |
            //  |N0|DOT|&to 2|

            bindings = <
                &kp N1  &kp N2      &kp N3  &kp ENTER
                &kp N4  &kp N5      &kp N6  
                &kp N7  &kp N8      &kp N9  
                &kp N0  &kp KP_DOT  &to 2   
            >;

            label = "Number";
            //sensor-bindings = <&pointer_vel_sensor y -120 y 120>;
            sensor-bindings = <&inc_dec_kp SCRL_DOWN SCRL_DOWN>;
        };

        mouse_layer {
            //  ---------------------------------------------------------------------------------
            //  |&mkp LCLK     |&mmv MOVE_UP  |&mkp RCLK      |ENTER|
            //  |&mmv MOVE_LEFT|&mmv MOVE_DOWN|&mmv MOVE_RIGHT|
            //  |BT_SEL 0      |ENTER         |BT_CLR         |
            //  |BT_SEL 1      |              |&to 3          |

            bindings = <
                &mkp LCLK       &mmv MOVE_UP    &mkp RCLK          &kp ENTER
                &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  
                &bt BT_SEL 0    &kp ENTER       &bt BT_CLR       
                &bt BT_SEL 1    &trans          &to 3            
            >;

            label = "Mouse";
            //sensor-bindings = <&pointer_vel_sensor y -120 y 120>;
            sensor-bindings = <&inc_dec_kp SCRL_DOWN SCRL_DOWN>;
        };

        play_layer {
            //  ---------------------------------------------------------------------------------
            //  |&mt C LC(LEFT)|UP                 |&mt PG_UP LC(RIGHT)|ENTER|
            //  |LEFT          |DOWN               |RIGHT              |
            //  |&mt X LS(LEFT)|SPACE              |&mt PG_DN LS(RIGHT)|
            //  |&mt E N1      |&mt BACKSPACE ENTER|&to 4              |

            bindings = <
                &mt C LC(LEFT)  &kp UP               &mt PG_UP LC(RIGHT)    &kp ENTER
                &kp LEFT        &kp DOWN             &kp RIGHT            
                &mt X LS(LEFT)  &kp SPACE            &mt PG_DN LS(RIGHT)  
                &mt E N1        &mt BACKSPACE ENTER  &to 4                
            >;

            label = "Play";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        read_layer {
            //  ---------------------------------------------------------------------------------
            //  |HOME|UP   |PG_UP|ENTER|
            //  |LEFT|DOWN |RIGHT|
            //  |END |SPACE|PG_DN|
            //  |ESC |ENTER|&to 5|


            bindings = <
                &kp HOME  &kp UP     &kp PG_UP    &kp ENTER
                &kp LEFT  &kp DOWN   &kp RIGHT  
                &kp END   &kp SPACE  &kp PG_DN  
                &kp ESC   &kp ENTER  &to 5      
            >;

            label = "Read";
            //sensor-bindings = <&pointer_vel_sensor y -120 y 120>;
            sensor-bindings = <&inc_dec_kp SCRL_DOWN SCRL_DOWN>;
        };

        chrome_layer {
            //  ---------------------------------------------------------------------------------
            //  |&mt LC(N1) HOME        |UP   |&mt LC(N9) PG_UP|ENTER|
            //  |LEFT                   |DOWN |RIGHT           |
            //  |END                    |SPACE|PG_DN           |
            //  |&mt LC(LS(TAB)) LC(TAB)|LC(W)|&to 0           |

            bindings = <
                &mt LC(N1) HOME          &kp UP     &mt LC(N9) PG_UP    &kp ENTER
                &kp LEFT                 &kp DOWN   &kp RIGHT         
                &kp END                  &kp SPACE  &kp PG_DN         
                &mt LC(LS(TAB)) LC(TAB)  &kp LC(W)  &to 0             
             >;

            label = "Chrome";
            //sensor-bindings = <&pointer_vel_sensor y -120 y 120>;
            sensor-bindings = <&inc_dec_kp SCRL_DOWN SCRL_DOWN>;
        };
    };
};
